
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
hgcfjn\/\/84yhfdhg38rvb84qwnhv
body {
	border: 10px;
	background: /*#adadad*/ #000;
	font: 14px / 1.2 Garamond, Helvetica;
	width: 100%;
	height: 100%;
	margin: 0 40px 0 0;
	color: #333;
}
header::before, section::before, div::before, header::after, section::after, div::after {
	clear: both;
}

@import "_general.scss", "_section.scss", "_header.scss", "_media.scss";
