section {
	&.general {
		background: #63a3a3;
		border: 3px solid #eeeeee;
		margin: 1.2% 2%;
		box-sizing: border-box;
		width: 96%;
		overflow: hidden;
	}

  section > p {
  		padding: 0 2em;
  }
  &.descripcion > .contenido {
  	margin: 1em auto;

		ul {
			clear: both;

			li {
				float:left;
			}
		}
  }
}

.main-derecha, .main-izquierda {
	width: 50%;

	&.main-derecha{
		float: right;

		section.general {
			background: #e8db7d;
			border-color: #333;

			a {
				color: #0099ff;

				&:hover {
				  color: #4fb8ff;
				}
				&:active {
				  color: #8cd0ff;
				}

				&:visited {
				  color: #d100ff;

					&:hover {
						color: #de55fc;
					}
					&:active {
						color: #ec96ff;
					}
				}
			}


			* {
				border-color: inherit;
			}

			.null {
				color: #444444;
			}

			ul, ol {
				background: #353535;
				color: #cccccc;
				.null {
					color: #aaaaaa;
				}
			}
		}
	}
	&.main-izquierda{
		float: left;
	}
}
